header {
	padding: 42px 80px 0px;
	margin-bottom: 66px;
	display: flex;
	align-items: center;
	justify-content: space-between;
}

header p {
	font-size: 18px;
	letter-spacing: 2.6px;
}

header p span,
footer p span {
	display: block;
	letter-spacing: 10.4px;
}

header nav ul {
	display: flex;
	gap: 30px;
	margin: 0px 10px;
}

header nav ul li {
	position: relative;
	transition: 0.3s ease-in-out;
}

header nav ul li::before {
	content: "";
	position: absolute;
	background-color: #fffbfb;
	left: 0;
	bottom: -3px;
	height: 1px;
	width: 0px;
	transition: 0.3s ease-in-out;
}

header nav ul li:hover:before {
	width: 100%;
}

header nav ul li a {
	transition: 0.3s ease-in-out;
}

header nav ul li a:hover {
	color: #febf3a;
}

header address a {
	display: block;
	transition: 0.3s ease-in-out;
}

header address a:hover {
	color: #febf3a;
	transform: scale(1.1);
}

main {
	padding: 0 80px;
	margin-bottom: 94px;
}

main section:first-child {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	margin-bottom: 100px;
}

main section:first-child div {
	position: relative;
	padding-bottom: 33.58%;
	width: 100%;
	border-radius: 50px;
	margin-bottom: 32px;
}

main section:first-child div img {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	object-position: center;
	object-fit: cover;
	line-height: 0;
}

main section:first-child hgroup {
	text-align: center;
	margin-bottom: 28px;
}

main section:first-child hgroup h1 {
	text-transform: uppercase;
	margin-bottom: 8px;
	font-size: 56px;
	letter-spacing: 6.2px;
}

main section:first-child hgroup p {
	font-size: 28px;
	letter-spacing: 3.4px;
}

main section:first-child hgroup p mark {
	font-family: "Montserrat Alternates", Arial, Helvetica, sans-serif;
	font-weight: 700;
	text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

main section:first-child button {
	cursor: pointer;
	text-align: center;
	color: #000;
	background-color: #febf3a;
	font-weight: 500;
	font-size: 20px;
	letter-spacing: 2.8px;
	border-radius: 24px;
	padding: 15px 30px;
	transition: 0.3s;
}

main section:first-child button:hover {
	background-color: transparent;
	border-color: #febf3a;
	color: #fffbfb;
}

main section:nth-child(2) > div > div {
	margin-bottom: 0;
}

footer {
	display: flex;
	padding: 58px 80px;
	justify-content: space-between;
	align-items: center;
	background: #1e505f;
}

footer p:nth-child(2) {
	margin: 0 15px;
}

footer address ul {
	display: flex;
	gap: 25px;
	align-items: center;
}

footer address ul li a {
	display: block;
	line-height: 0;
}

footer address ul li a svg {
	cursor: pointer;
	width: 38px;
	height: 38px;
	transition: 0.3s;
}

footer address ul li a svg:hover {
	transform: scale(1.1);
}

footer address ul li a svg:hover path {
	fill: #febf3a;
}

@media (max-width: 1230px) {
	header nav ul {
		gap: 15px;
	}
}

@media (max-width: 1150px) {
	header nav {
		display: none;
	}

	main section:first-child hgroup h1 {
		font-size: 48px;
	}

	main section:first-child hgroup p {
		font-size: 24px;
	}
}

@media (max-width: 1070px) {
	footer {
		flex-direction: column;
		align-items: center;
		gap: 20px 0;
	}

	footer p {
		text-align: center;
	}

	footer p:nth-child(1) {
		order: 1;
	}

	footer p:nth-child(2) {
		order: 3;
	}

	footer address {
		order: 2;
	}

	footer p span {
		margin-bottom: 5px;
	}
}

@media (max-width: 1030px) {
	header nav {
		display: none;
	}
}

@media (max-width: 768px) {
	main section:first-child hgroup h1 {
		font-size: 32px;
	}

	main section:first-child hgroup p {
		font-size: 18px;
	}

	main section:first-child button {
		font-size: 16px;
	}
}

@media (max-width: 550px) {
	header {
		flex-direction: column;
		gap: 15px 0;
		padding: 30px 10px;
	}
	header p {
		text-align: center;
		margin: 0 auto;
	}
}

@media (max-width: 430px) {
	header {
		padding: 30px 10px;
	}

	header address {
		display: none;
	}

	main {
		padding: 15px 0;
		margin-bottom: 50px;
	}

	main section:first-child {
		margin-bottom: 50px;
	}
}
